body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f0f2f5;
  overflow-x: hidden; /* Prevent horizontal overflow */
}

a {
  color: inherit;
  text-decoration: none;
}

/* src/styles/globals.scss */
.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensures footer is at the bottom */
    width: 100%; /* Full width */
    padding: 0; /* No padding affecting inner width */
    margin: 0; /* No margin affecting inner width */
    overflow-x: hidden; /* Prevents horizontal scroll */
}


.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  padding: 1rem;
  padding-bottom: 60px;
  box-sizing: border-box;
  overflow-x: hidden; /* Prevent horizontal overflow */
}

img {
  max-width: 100%;
  height: auto;
}

section {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .main {
    padding: 0.5rem;
  }

  section {
    padding: 10px;
  }
}



