/* styles/Header.module.scss */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #0070f3; /* Blue background */
    color: rgb(255, 255, 255);
  }
  
  .navLink {
    margin-right: 2rem;
    color: white;
    cursor: pointer; /* Ensure cursor changes on hover for better UX */
    transition: opacity 0.3s ease;
  }
  
  .navLink:hover {
    opacity: 0.8;
  }
  
  .socialLinks {
    display: flex;
    gap: 1rem;
  }
  
  .socialLink {
    color: white;
    text-decoration: none;
    transition: opacity 0.3s ease;
  }
  
  .socialLink a {
    color: white;
    text-decoration: none;
  }
  
  .socialLink:hover {
    opacity: 0.8;
  }
  