/* styles/Home.module.scss */
.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensure the container height matches the viewport height */
  background-image: url('/images/portfolioback.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #080707;
  overflow: hidden; /* Hide any overflow */
  position: relative; /* Add relative positioning to the container */
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Move content towards the top */
  align-items: center;
  text-align: center;
  padding: 1rem; /* Add padding */
  padding-bottom: 60px; /* Add padding to the bottom to prevent footer overlap */
  box-sizing: border-box;
}


.title,
.description {
  opacity: 0;
}

.fadeIn {
  animation: fadeInAnimation 5s ease forwards;
}

.fadeInDescription {
  animation: fadeInAnimation 6s ease forwards;
}

.iconContainer {
  position: absolute; /* Position icons absolutely */
  top: 60%; /* Align icons vertically */
  left: 50%; /* Center horizontally */
  transform: translate(110%, -50%) rotate(-90deg); /* Rotate container left by 90 degrees */
  display: flex;
  justify-content: space-between; /* Arrange icons with space-between */
  height: 80%; /* Adjust height as needed */
  max-height: 80vh; /* Maximum height */
  width: 300px; /* Adjust width as needed */
}

.iconContainer div {
  display: flex;
  align-items: center;
}

.iconContainer img {
  width: 80px; /* Adjust size if needed */
  height: 80px; /* Adjust size if needed */
  margin: 5px; /* Adjust margin */
  transform: rotate(-90deg); /* Ensure icon is upright */
}

@keyframes fadeInAnimation {
  to {
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .iconContainer {
    width: 200px; /* Adjust width for smaller screens */
  }
  
  .iconContainer img {
    width: 80px; /* Adjust icon size for smaller screens */
    height: 80px; /* Adjust icon size for smaller screens */
  }
}








