/* styles/Home.module.scss */
.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url('/images/portback.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #578807;
  }
  
  .header {
    background-color: rgba(0, 112, 243, 0.8);
    color: #fff;
    padding: 0.5rem;
    width: 100%; /* Full width */
    box-sizing: border-box;
  }
  
  .main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem;
  }
  
  .title, .description {
    opacity: 0;
  }
  
  .fadeIn {
    animation: fadeInAnimation 5s ease forwards;
  }
  
  .fadeInDescription {
    animation: fadeInAnimation 2s ease forwards;
    animation-delay: 2s;
  }
  
  @keyframes fadeInAnimation {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
/* styles/Home.module.scss and styles/Projects.module.scss */
.footer {
    background-color: #0070f3;
    color: #fff;
    text-align: center;
    padding: 1rem;
    width: 100%;
    position: relative;
  }
  
  