
.navbar {
    display: flex;
    justify-content: center; /* Center the navbar content */
    align-items: center;
    background-color: #38580381;
    padding: 0.2px 8px;
    border-radius: 20px;
    margin-top: 20px;
    width: auto; /* Adjust width to fit content */
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.navContainer {
    display: flex;
    align-items: center;
}

.logo {
    cursor: pointer;
    margin-left: 10px; /* Adjust margin to move logo closer */
}

.navList {
    list-style-type: none;
    display: flex;
    gap: 10px; /* Reduced gap for closer links */
    align-items: center;
    margin: 0; /* Remove margin to fit content */
    padding: 0; /* Remove padding to fit content */
}

.navItem {
    font-size: 16px;
    color: #fff;
}

.navLink {
    display: flex;
    align-items: center;
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;

    &:hover {
        color: #0c0909;
    }
}

.icon {
    width: 24px;
    height: 24px;
    margin-right: 5px;
    transition: transform 0.3s ease;

    &:hover {
        transform: scale(1.2);
    }
}

.logoImage {
    max-width: 40px; /* Adjusted size for a smaller logo */
    max-height: 40px;
    border-radius: 50%;
}

@media (max-width: 768px) {
    .navList {
        gap: 5px; /* Further reduce gap for smaller screens */
    }

    .navLink {
        font-size: 14px; /* Adjust font size for smaller screens */
    }

    .icon {
        width: 20px; /* Adjust icon size for smaller screens */
        height: 20px;
    }
}
