/* src/styles/Navbar.module.scss */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #38580381;
    padding: 0.2px 8px;
    border-radius: 20px;
    margin-top: 20px;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.logo {
    cursor: pointer;
}

.navList {
    list-style-type: none;
    display: flex;
    gap: 20px;
    align-items: center;
}

.navItem {
    font-size: 16px;
    color: #fff;
}

.navLink {
    display: flex;
    align-items: center;
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;

    &:hover {
        color: #0c0909;
    }
}

.icon {
    width: 24px;
    height: 24px;
    margin-right: 5px;
    transition: transform 0.3s ease;

    &:hover {
        transform: scale(1.2);
    }
}

.logoImage {
    max-width: 50px;
    max-height: 50px;
    border-radius: 50%;
}

@media (max-width: 768px) {
    .navList {
        gap: 10px; /* Adjust gap for smaller screens */
    }

    .navLink {
        font-size: 14px; /* Adjust font size for smaller screens */
    }

    .icon {
        width: 20px; /* Adjust icon size for smaller screens */
        height: 20px;
    }
}
