.projectCard {
  display: flex;
  flex-direction: row;
  background: rgba(26, 22, 22, 0.432); 
  border-radius: 20px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  overflow: hidden;
  padding: 1rem;
  max-width: 100%; 
  margin: 1rem 0; 

  @media (max-width: 768px) {
    flex-direction: column;
    padding: 0.5rem;
    overflow: visible; 
  }
}

.projectDetails {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  padding: 1rem;

  @media (max-width: 768px) {
    padding: 0.5rem;
  }
}

.projectMedia {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;

  @media (max-width: 768px) {
    padding: 0.5rem;
  }
}

.thumbnail {
  width: 100%;
  height: 200px;
  overflow: hidden;
  border-radius: 20px; /* Rounded corners for the image container */
  margin-bottom: 1rem; /* Ensure space between image and code snippet */

  @media (max-width: 768px) {
    height: auto;
  }
}

.projectImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px; 

  @media (max-width: 768px) {
    height: auto;
  }
}

.codeSnippet {
  white-space: pre; /* Preserve whitespace and line breaks */
  background: #f7f2f2f6;
  padding: 1rem;
  border-radius: 20px; 
  font-family: monospace;
  overflow-x: auto; /* Add horizontal scrollbar when necessary */
  max-width: 100%; 
  max-height: 200px; 
  margin-bottom: 1rem; 

  @media (max-width: 768px) {
    max-height: 150px;
  }
}

.projectDetails h3 {
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  color: #f1ecec;

  @media (max-width: 768px) {
    font-size: 1.2rem;
    margin-bottom: 0.3rem;
  }
}

.projectType {
  font-size: 1rem;
  color: #f0e8e8;

  @media (max-width: 768px) {
    font-size: 0.9rem;
  }
}

.projectDescription {
  margin-bottom: 1rem;
  color: #dacece;

  @media (max-width: 768px) {
    margin-bottom: 0.5rem;
  }
}

.projectStatus {
  margin-bottom: 1rem;
  color: #ece3e3;

  @media (max-width: 768px) {
    margin-bottom: 0.5rem;
  }
}

.links {
  display: flex;
  gap: 1rem;

  @media (max-width: 768px) {
    gap: 0.5rem;
    flex-direction: column;
  }
}

.link {
  background-color: #0e4b06;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 20px; 
  text-decoration: none;
  transition: background-color 0.3s ease;

  @media (max-width: 768px) {
    padding: 0.3rem 0.5rem;
  }
}

.link:hover {
  background-color: #0b0d0f;
}

.navigation {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
  justify-content: center; 

  @media (max-width: 768px) {
    gap: 0.5rem;
    flex-direction: column;
    margin-top: 0.5rem;
  }
}

.navButton {
  background-color: #04721f;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 20px; /* Match rounded corners */
  cursor: pointer;
  transition: background-color 0.3s ease;

  @media (max-width: 768px) {
    padding: 0.3rem 0.5rem;
  }
}

.navButton:hover {
  background-color: #151516;
}

.projectCard:hover {
  transform: translateY(-5px);
}

